

.submit {
  margin-left: 10rem;
  margin-right: auto;
  font-size: 15px;
}
ion-img {
  display: block;
}

.item:hover {
  color: grey;
  background-color: black;
  transition: 0.5s;
  cursor: pointer;
}
img {
  height: 150;
  border-radius: 80%;
}